{% extends 'srim_page/base.html' %}
{% load static %}
{% block main_area %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">적정가치 계산방법/원리</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item">About S-RIM</li>
                                    <li class="breadcrumb-item"><a href="/about_srim/">적정가치 계산방법/원리</a></li>
                                </ul>
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <!-- [ Main Content ] start -->
                                        {% for about_srim in about_srim_list %}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-header" id="{{ about_srim.title }}">
                                                        <h5 class="mb-0">
                                                            <a href="#!" data-toggle="collapse" data-target="#{{ about_srim.pk }}" aria-expanded="true" aria-controls="{{ about_srim.pk }}"
                                                               style="color: #000000;">
                                                                {{ about_srim.title }}
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="{{ about_srim.pk }}" class="card-body collapse" aria-labelledby="{{ about_srim.pk }}" data-parent="#accordionExample">
                                                        {{ about_srim.content }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- [ Main Content ] end -->
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}