{% extends 'srim_page/base.html' %}
{% load static %}
{% load humanize %}
{% block main_area %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Home</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                </ul>
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <!-- [ Main Content ] start -->
                                        {% if intro_list %}
                                        {% for intro in intro_list %}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>{{ intro.title | safe }}</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        {{ intro.content | safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <p>죄송합니다. 홈페이지를 리뉴얼 중입니다.</p>
                                                        <p>문의사항은 rnwoghd55@gmail.com으로 연락 주시기 바랍니다.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <!-- [ Main Content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}