{% load socialaccount %}

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank"
               href="https://appseed.us/admin-dashboards/django-datta-able" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">S-RIM 사이트(가제)</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>

        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item">
                    <div class="form-inline" role="search">
                        <input class="search js-search form-control form-control-rounded mr-sm-2" id="search-input" onkeyup="wait_for_enterkey();" type="text" title="검색어를 입력하세요" placeholder="종목코드 또는 종목명 입력">
                        <span class="input-group-btn">
                            <button type="button" class="btn-sm btn-light" onclick="searchStock();">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>소개</label>
                </li>

                <li class="nav-item">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Home</span>
                    </a>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
                        <span class="pcoded-mtext">About S-RIM</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/about_page/" class="">홈페이지 이용안내</a></li>
                        <li class=""><a href="/about_srim/" class="">적정가치 계산방법/원리</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>종목검색기</label>
                </li>

                <li class="nav-item">
                    <a href="/srim/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span>
                        <span class="pcoded-mtext">S-RIM 종목 리스트</span>
                    </a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>개인</label>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span>
                        <span class="pcoded-mtext">{{ user.username }}님의 페이지</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'stock:like_list' %}" class="">좋아요 목록</a></li>
                        <li class=""><a href="/accounts/logout/" class="">로그아웃</a></li>
                    </ul>
                </li>

                {% else %}
                <li class="nav-item">
                    <a href="/login/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span>
                        <span class="pcoded-mtext">로그인</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

