{% extends 'srim_page/base.html' %}
{% load static %}
{% load humanize %}
{% block main_area %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">종목 리스트</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-server"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">S-RIM 종목</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">종목 리스트</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>S-RIM 전체 종목 리스트</h5>
                                        <span class="d-block m-t-5">3년 가중평균 ROE > 회사채 수익률(BBB- 5년) 경우만 해당</span>
                                    </div>

                                    <div id="toolbar" class="select">
                                        <select class="form-control">
                                            <option value="all">Export All</option>
                                            <option value="selected">Export Selected</option>
                                        </select>
                                    </div>

                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table id="table" class="table table-hover"
                                                   data-toggle="table"
                                                   data-search="true"
                                                   data-show-export="true"
                                                   data-toolbar="#toolbar"
                                                   data-show-columns="true"
                                                   data-show-multi-sort="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true">
                                                <thead>
                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="종목코드">종목코드</th>
                                                    <th data-field="종목명">종목명</th>
                                                    <th data-field="섹터" data-sortable="true">섹터</th>
                                                    <th data-field="현재가">현재가(A)</th>
                                                    <th data-field="적정가격(SRIM매도)">적정가격(B)</th>
                                                    <th data-field="적정가격(SRIM10%)">적정가격(SRIM10%)</th>
                                                    <th data-field="적정가격(SRIM20%)">적정가격(SRIM20%)</th>
                                                    <th data-field="괴리율(매도가대비)" data-sortable="true">괴리율%(A와B)</th>
                                                    <th data-field="가중평균ROE(3년)" data-sortable="true">가중평균ROE%(3년)</th>
                                                    <th data-field="상장폐지 위험여부" data-sortable="true">상장폐지 위험여부</th>
                                                    <th data-sortable="true">데이터 생성일</th>
                                                    <th data-field="{{ stock.get_absolute_url }}" data-formatter="LinkFormatter">링크</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for stock in stock_list %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{ stock.code }}</td>
                                                    <td>{{ stock.name }}</td>
                                                    <td>{{ stock.sector }}</td>
                                                    <td>{{ stock.current_price | intcomma }}원</td>
                                                    <td>{{ stock.srim_price | intcomma }}원</td>
                                                    <td>{{ stock.srim10_price | intcomma }}원</td>
                                                    <td>{{ stock.srim20_price | intcomma }}원</td>
                                                    <td>{{ stock.gap }}</td>
                                                    <td>{{ stock.roe_average }}</td>
                                                    <td>{{ stock.risky }}</td>
                                                    <td>{{ stock.created_at }}</td>
                                                    <td>{{ stock.get_absolute_url }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Hover-table ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
