{% extends 'srim_page/base.html' %}
{% load static %}
{% load humanize %}
{% block head_title %}
상세 사항 - {{ stock.name }}
{% endblock %}

{% block main_area %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">개별 종목</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-server"></i></a></li>
                                    <li class="breadcrumb-item"><a href="/srim/">종목 리스트</a></li>
                                    <li class="breadcrumb-item">{{ stock.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>{{ stock.name }}</h2>

                <!-- Function Like -->
                <p>
                    좋아요 : <a href="{% url 'stock:like' stock.id %}"></a>
                    {% if user in stock.like_users.all %}
                    <a href="{% url 'stock:like' stock.id %}"><i class="fas fa-heart fa-lg" style="color: #dc143c"></i></a>
                    {% else %}
                    <a href="{% url 'stock:like' stock.id %}"><i class="far fa-heart fa-lg" style="color: #dc143c"></i></a>
                    {% endif %}

                    {{ stock.like_users.count }}
                </p>
                <!-- End Like -->
                <hr/>

                <!-- [ Top-card-section ] start-->
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-c-blue bitcoin-wallet">
                            <div class="card-block">
                                <h5 class="text-white mb-2">현재 가격(종가)</h5>
                                <h2 class="text-white mb-2 f-w-300">{{ stock.current_price|intcomma}}원</h2>
                                <span class="text-white d-block">업데이트 : {{ stock.updated_at }}</span>
                                <i class="fas fa-won-sign f-70 text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card theme-bg bitcoin-wallet">
                            <div class="card-block">
                                <h5 class="text-white mb-2">S-RIM 적정 가격</h5>
                                <h2 class="text-white mb-2 f-w-300">{{ stock.srim_price|intcomma }}원</h2>
                                <span class="text-white d-block">(이익 지속될시)</span>
                                <i class="fas fa-crosshairs f-70 text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card theme-bg2 bitcoin-wallet">
                            <div class="card-block">
                                <h5 class="text-white mb-2">괴리율</h5>
                                <h2 class="text-white mb-2 f-w-300">{{ stock.gap }}%</h2>
                                <span class="text-white d-block">현재가/SRIM 가격대비</span>
                                <i class="fas fa-percent f-70 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Top-card-section ] end-->

                <!-- Sector Table -->
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>상세 사항</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table id="tables" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>값</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>종목코드</td>
                                            <td>{{ stock.code }}</td>
                                        </tr>
                                        <tr>
                                            <td>산업분류</td>
                                            <td>{{ stock.sector }}</td>
                                        </tr>
                                        <tr>
                                            <td>SRIM</td>
                                            <td>{{ stock.srim_price|intcomma }}원</td>
                                        </tr>
                                        <tr>
                                            <td>SRIM(10%)</td>
                                            <td>{{ stock.srim10_price|intcomma }}원</td>
                                        </tr>
                                        <tr>
                                            <td>SRIM(20%)</td>
                                            <td>{{ stock.srim20_price|intcomma }}원</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;">회사채(BBB-)</td>
                                            <td>{{ stock.bbb_rate }}%</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;">3년 가중평균 ROE</td>
                                            {% if stock.roe_average < stock.bbb_rate %}
                                            <td style="color: #dc143c; font-weight: bold;">{{ stock.roe_average }}%</td>
                                            {% else %}
                                            <td>{{ stock.roe_average }}%</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>ROE(2021)</td>
                                            <td>{{ stock.roe_2021 }}%</td>
                                        </tr>
                                        <tr>
                                            <td>ROE(2020)</td>
                                            <td>{{ stock.roe_2020 }}%</td>
                                        </tr>
                                        <tr>
                                            <td>ROE(2019)</td>
                                            <td>{{ stock.roe_2019 }}%</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;">상장폐지 위험여부</td>
                                            {% if stock.risky == 'risky' %}
                                            <td style="color: #dc143c; font-weight: bold;">{{ stock.risky }}</td>
                                            {% else %}
                                            <td>{{ stock.risky }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>매출액 위험</td>
                                            {% if stock.risky_revenue == 'risky' %}
                                            <td style="color: #dc143c; font-weight: bold;">{{ stock.risky_revenue }}</td>
                                            {% else %}
                                            <td>{{ stock.risky_revenue }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>장기간영업손실</td>
                                            {% if stock.risky_profit == 'risky' %}
                                            <td style="color: #dc143c; font-weight: bold;">{{ stock.risky_profit }}</td>
                                            {% else %}
                                            <td>{{ stock.risky_profit }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>법인세비용차감전계속사업손실</td>
                                            {% if stock.risky_ebitda == 'risky' %}
                                            <td style="color: #dc143c; font-weight: bold;">{{ stock.risky_ebitda }}</td>
                                            {% else %}
                                            <td>{{ stock.risky_ebitda }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>자본잠식 위험</td>
                                            {% if stock.risky_capital == 'risky' %}
                                            <td style="color: #dc143c; font-weight: bold;">{{ stock.risky_capital }}</td>
                                            {% else %}
                                            <td>{{ stock.risky_capital }}</td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table end-->

                    <!-- Sector Chart -->
                    <div class="col-md-6 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>가격 비교 그래프</h5>
                            </div>
                            <div class="card-block">
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>ROE 비교 그래프</h5>
                            </div>
                            <div class="card-block">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- Chart end -->
                    </row>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}